/* --------------------- */
/* add new contact panel */
/* --------------------- */

.add-new-contact-panel {
    position: relative;
    display: flex;
    z-index: 5;
}

@media (max-width: 1350px) {
    .add-new-contact-panel {
        display: flex;
        flex-direction: column;
    }
}



/* ------------------------- */
/* add new contact left side */
/* ------------------------- */

.add-new-contact-left-side {
    height: 594px;
    width: 467px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 54, 71);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        color: white;
    }
}

@media (max-width: 1350px) {
    .add-new-contact-left-side {
        height: 352px;
        width: calc(396px - 24px);
        position: relative;
        justify-content: flex-start;
        padding-left: 24px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;

        &>.overlay-close-icon {
            position: absolute;
            top: 24px;
            right: 24px;

            &:hover {
                background-color: rgba(41 170 227 / 20%);
            }
        }

        &>div .f-s-61px {
            font-size: 47px;
        }

        &>div .f-s-w-27px-400 {
            font-size: 20px;
        }
    }
}

.add-new-contact-logo {
    height: 66.48px;
    width: 55.6px;
}

.add-new-contact-separator {
    width: 90px;
}

@media (max-width: 1350px) {
    .add-new-contact-logo {
        display: none;
    }
}



/* -------------------------- */
/* add new contact right side */
/* -------------------------- */

.add-new-contact-right-side {
    width: calc(1212px - 467px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 64px;
        margin-top: 48px;
        margin-right: 48px;
    }

    &>div>div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

@media (max-width: 1350px) {
    .add-new-contact-right-side {
        height: calc(760px - 352px);
        width: 396px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;

        &>div .overlay-close-icon {
            display: none;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            margin: 0;
        }

        &>div>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }
}

.add-new-contact-profile-icon-background {
    height: 120px;
    width: 120px;
    margin-bottom: 64px;
}

@media (max-width: 1350px) {
    .add-new-contact-profile-icon-background {
        margin-top: -120px;
        margin-bottom: 0;
    }
}

.add-new-contact-profile-icon {
    background-image: url('/assets/img/icon_person_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px;
}

.add-new-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 1350px) {
    .add-new-contact-form {
        gap: 15px;

        & .input-img-area>.input-whitout-border-right {
            height: calc(41px - 24px);
            width: calc(364px - 42px - 37px);
        }

        & .input-img-area>.input-img {
            height: 41px;
        }
    }
}

.add-new-contact-button-area {
    display: flex;
    align-items: center;
    gap: 24px
}

@media (max-width: 1350px) {
    .add-new-contact-button-area {
        gap: 20px;
        margin-top: 16px;
    }
}

.add-new-contact-btn-left {
    height: 56px;
    width: 126px;
}

@media (max-width: 1350px) {
    .add-new-contact-btn-left {
        display: none;
    }
}

.edit-contact-btn-left {
    height: 55px;
    width: 113px;
}

@media (max-width: 1350px) {
    .edit-contact-btn-left {
        height: 51px;
        width: 82px;
    }
}

.add-new-contact-btn-right {
    height: 58px;
    width: 214px;
}

@media (max-width: 1350px) {
    .add-new-contact-btn-right {
        height: 51px;
        width: 202px;
        gap: 4px;
    }
}

.edit-contact-btn-right {
    height: 57px;
    width: 111px;
}

@media (max-width: 1350px) {
    .edit-contact-btn-right {
        height: 51px;
        width: 99px;
        gap: 4px;
    }
}