/* --------------------- */
/* add new contact panel */
/* --------------------- */

.add-new-contact-panel {
    position: relative;
    display: flex;
    z-index: 5;
}



/* ------------------------- */
/* add new contact left side */
/* ------------------------- */

.add-new-contact-left-side {
    height: 594px;
    width: 467px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 54, 71);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        color: white;
    }
}

.add-new-contact-logo {
    height: 66.48px;
    width: 55.6px;
}

.add-new-contact-separator {
    width: 90px;
}



/* -------------------------- */
/* add new contact right side */
/* -------------------------- */

.add-new-contact-right-side {
    width: calc(1212px - 467px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 64px;
        margin-top: 48px;
        margin-right: 48px;
    }

    &>div>div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

.add-new-contact-profile-icon-background {
    height: 120px;
    width: 120px;
    margin-bottom: 48px;
}

.add-new-contact-profile-icon {
    background-image: url('/assets/img/icon_person_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px;
}

.add-new-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.add-new-contact-button-area {
    display: flex;
    align-items: center;
    gap: 24px
}

.add-new-contact-btn-left {
    height: 56px;
    width: 126px;
}

.edit-contact-btn-left {
    height: 55px;
    width: 113px;
}

.add-new-contact-btn-right {
    height: 58px;
    width: 214px;
}

.edit-contact-btn-right {
    height: 57px;
    width: 111px;
}