/* -------------- */
/* add task panel */
/* -------------- */

.add-task-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    flex-grow: 1;
    margin-top: 96px;
    margin-left: 48px;
}

@media (max-width: 900px) {
    .add-task-panel {
        margin-top: 40px;
    }
}

@media (max-width: 550px) {
    .add-task-panel {
        gap: 48px;
        margin-left: calc((100vw - 400px) / 2);

        &>.f-s-61px {
            font-size: 47px;
        }
    }
}



/* ----------------- */
/* add new task area */
/* ----------------- */

.add-new-task-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 160px;
}

@media (max-width: 550px) {
    .add-new-task-area {
        align-items: center;
    }
}



/* ----------------------- */
/* add new task input area */
/* ----------------------- */

.add-new-task-input-area {
    display: flex;
    gap: 48px;
}



/* ---------------------- */
/* add new task left side */
/* ---------------------- */

.add-new-task-half-side {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 550px) {
    .add-new-task-half-side {
        gap: 24px;
    }
}

.add-new-task-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

@media (max-width: 550px) {
    .add-new-task-subcontainer {
        &>.f-s-w-20px-400 {
            font-size: 16px;
        }
    }
}

.add-new-task-wrong-message-under-inputs {
    visibility: hidden;
    width: 100%;
    font-family: "Poppins";
    font-size: 12px;
    line-height: 14px;
    color: rgb(255, 129, 144);
    margin-bottom: -16px;
}

.add-new-task-subcontainer:has(:focus:invalid) {
    &>input {
        border-color: rgb(255, 129, 144);
    }

    & .input-img-area>input {
        border-color: rgb(255, 129, 144);
    }

    & .input-img {
        border-color: rgb(255, 129, 144);
    }

    &>textarea {
        border-color: rgb(255, 129, 144);
    }

    & .add-new-task-wrong-message-under-inputs {
        visibility: visible;
    }
}

.add-new-task-input {
    height: calc(48px - 24px);
    width: calc(440px - 42px);
    border-radius: 10px;
}

@media (max-width: 550px) {
    .add-new-task-input {
        height: calc(40px - 20px);
        width: calc(396px - 42px);
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    #add_task_mobile_overlay_html {
        .add-new-task-input {
            width: calc(348px - 42px);
        }
    }
}

.add-new-task-textarea {
    font-family: "Inter", "Sans-serif";
    height: calc(120px - 36px);
    width: calc(440px - 32px);
    border-radius: 10px;
}

@media (max-width: 550px) {
    .add-new-task-textarea {
        height: calc(88px - 36px);
        width: calc(396px - 42px);
        font-size: 16px;
    }

    #add_task_mobile_overlay_html {
        .add-new-task-textarea {
            width: calc(348px - 42px);
        }
    }
}

.add-new-task-input-dropdown-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 550px) {
    .add-new-task-input-dropdown-area {
        width: 396px;
    }

    #add_task_mobile_overlay_html {
        .add-new-task-input-dropdown-area {
            width: 348px;
        }
    }
}

.add-new-task-input-dropdown {
    width: calc(440px - 42px - 37px);
}

@media (max-width: 550px) {
    .add-new-task-input-dropdown {
        width: calc(396px - 42px - 37px);
        font-size: 16px;
    }

    #add_task_mobile_overlay_html {
        .add-new-task-input-dropdown {
            width: calc(348px - 42px - 37px);
        }
    }
}

.input-img-area:has(#add-task-add-new-category:not(.d-none)) .add-new-task-input-dropdown {
    width: calc(440px - 42px - 37px - 35.5px);
}

@media (max-width: 550px) {
    .input-img-area:has(#add-task-add-new-category:not(.d-none)) .add-new-task-input-dropdown {
        width: calc(396px - 42px - 37px - 35.5px);
    }

    #add_task_mobile_overlay_html {
        .input-img-area:has(#add-task-add-new-category:not(.d-none)) .add-new-task-input-dropdown {
            width: calc(348px - 42px - 37px - 35.5px);
        }
    }
}

.add-new-task-input-dropdown::placeholder {
    color: black;
}

.add-new-task-dropdown-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-img:has(.add-new-task-dropdown-open) .add-new-task-dropdown-open:hover {
    background-color: rgba(0, 0, 0, 5%);
    border-radius: 50%;
}

.input-img:has(.add-new-task-dropdown-close) .add-new-task-dropdown-close:hover {
    background-color: rgba(41 170 227 / 20%);
    border-radius: 50%;
}

.add-task-contact-list {
    max-height: 224px;
    width: 100%;
}

.add-task-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px;
}

.add-task-contact:hover {
    cursor: pointer;
    background-color: rgba(0 0 0 / 10%);
    border-radius: 10px;
}

.add-new-contact-button-area {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.add-new-contact-button {
    height: calc(56px - 24px);
    width: calc(408px - 24px);
}

@media (max-width: 550px) {
    .add-new-contact-button {
        height: calc(51px - 24px);
        width: calc(374px - 24px);

        &>.f-s-w-21px-700 {
            font-size: 18px;
        }
    }
}

.add-new-contact-button-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.add-task-contact-added-users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}



/* ----------------------- */
/* add new task right side */
/* ----------------------- */

.add-new-task-priority-area {
    display: flex;
    gap: 16px;
}

.add-new-task-priority-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 136px;
    height: 56px;
    border: 0px;
    box-shadow: 0px 0px 4px 0px lightgray;
    border-radius: 10px;
    gap: 8px;
}

@media (max-width: 550px) {
    .add-new-task-priority-button {
        height: 41px;
        width: 121px;

        &>.f-s-w-20px-400 {
            font-size: 16px;
        }
    }

    #add_task_mobile_overlay_html {
        .add-new-task-priority-button {
            width: 104px;
        }
    }
}

.add-new-task-priority-urgent-img {
    height: 15px;
    width: 20px;
    background-image: url('/assets/img/icon_urgent_red.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-priority-medium-img {
    height: 8px;
    width: 20px;
    background-image: url('/assets/img/icon_medium_orange.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-priority-low-img {
    height: 15px;
    width: 20px;
    background-image: url('/assets/img/icon_low_green.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-priority-button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px lightgray;
}


.add-new-task-priority-color-red {
    color: white;
    background-color: rgb(255, 61, 0);

    .f-s-w-20px-400 {
        font-weight: 700;
    }

    .add-new-task-priority-urgent-img {
        background-image: url('/assets/img/icon_urgent_white.png');
    }
}

.add-new-task-priority-color-orange {
    color: white;
    background-color: rgb(255, 168, 0);

    .f-s-w-20px-400 {
        font-weight: 700;
    }

    .add-new-task-priority-medium-img {
        background-image: url('/assets/img/icon_medium_white.png');
    }
}

.add-new-task-priority-color-green {
    color: white;
    background-color: rgb(122, 226, 40);

    .f-s-w-20px-400 {
        font-weight: 700;
    }

    .add-new-task-priority-low-img {
        background-image: url('/assets/img/icon_low_white.png');
    }
}

.add-task-category-headline-area {
    width: 100%;
    display: inline-flex;
    align-items: flex-end;

    &>label {
        display: flex;
        gap: 4px;
    }

    & .add-new-task-wrong-message-under-inputs {
        margin-bottom: 0 !important;
        text-align: right;
    }
}

@media (max-width: 550px) {
    .add-task-category-headline-area {
        &>.f-s-w-20px-400 {
            font-size: 16px;
        }
    }
}

.add-task-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

@media (max-width: 550px) {
    .add-task-category {
        &>.f-s-w-20px-400 {
            font-size: 16px;
        }
    }
}

.add-task-category:hover {
    cursor: pointer;
    background-color: rgba(0 0 0 / 10%);
    border-radius: 10px;

    &>img:hover {
        background-color: white;
        border-radius: 6px;
        transform: scale(1.1) rotate(5deg);
    }
}

.add-new-task-input-subtask {
    width: calc(440px - 42px - 37px);

}

@media (max-width: 550px) {
    .add-new-task-input-subtask {
        width: calc(396px - 42px - 37px);
        font-size: 16px;
    }

    #add_task_mobile_overlay_html {
        .add-new-task-input-subtask {
            width: calc(348px - 42px - 37px);
        }
    }
}

.input-img-area:has(#add-task-add-new-subtask:not(.d-none)) .add-new-task-input-subtask {
    width: calc(440px - 42px - 37px - 35.5px);
}

@media (max-width: 550px) {
    .input-img-area:has(#add-task-add-new-subtask:not(.d-none)) .add-new-task-input-subtask {
        width: calc(396px - 42px - 37px - 35.5px);
    }

    #add_task_mobile_overlay_html {
        .input-img-area:has(#add-task-add-new-subtask:not(.d-none)) .add-new-task-input-subtask {
            width: calc(348px - 42px - 37px - 35.5px);
        }
    }
}

.input-img-area:has(#add-task-input-change-subtask) {

    & .add-new-task-input-subtask {
        width: calc(440px - 42px - 37px - 35.5px);
    }

    & .input-whitout-border-right {
        height: 32px;
        padding: 0 21px;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: unset;
    }

    & .input-img {
        height: 32px;
        padding-right: 12px;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: unset;
    }

    @media (max-width: 550px) {
        & .add-new-task-input-subtask {
            width: calc(396px - 42px - 37px - 35.5px);
        }

        & .input-whitout-border-right {
            height: 48px;
        }

        & .input-img {
            height: 48px;
        }
    }
}

@media (max-width: 550px) {
    #add_task_mobile_overlay_html {
        .input-img-area:has(#add-task-input-change-subtask) {
            & .add-new-task-input-subtask {
                width: calc(348px - 42px - 37px - 35.5px);
            }
        }
    }
}

.input-img-area:has(#add-task-list-change-subtask) {

    & .add-new-task-input-subtask {
        width: calc(440px - 42px - 37px - 35.5px);
    }

    & .input-whitout-border-right {
        height: 32px;
        padding: 0 21px;
        border: unset;
        border-radius: unset;
    }

    & .input-img {
        height: 32px;
        padding-right: 12px;
        border: unset;
        border-radius: unset;
        background-color: unset;
    }

    & li {
        margin-top: 6px;
    }

    &:hover {
        background-color: rgba(0 0 0 / 5%);

        .v-hidden {
            visibility: visible;
        }
    }

    @media (max-width: 550px) {
        & .add-new-task-input-subtask {
            width: calc(396px - 42px - 37px - 35.5px);
        }

        & .input-whitout-border-right {
            height: 34px;
        }

        & .input-img {
            height: 34px;
        }

        & li {
            margin-top: 14px;
        }
    }
}

@media (max-width: 550px) {
    #add_task_mobile_overlay_html {
        .input-img-area:has(#add-task-list-change-subtask) {
            & .add-new-task-input-subtask {
                width: calc(348px - 42px - 37px - 35.5px);
            }
        }
    }
}

.add-new-task-change-subtask-edit {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_edit_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-change-subtask-delete {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_delete_white.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-change-subtask-done {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_done_black_small.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.add-new-task-required-buttons-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 550px) {
    .add-new-task-required-buttons-area {
        &>.f-s-w-20px-400 {
            font-size: 18px;
        }
    }
}

.add-new-task-btn-left {
    height: 56px;
    width: 110px;
}

.add-new-task-btn-right {
    height: 56px;
    width: 183px;
}

@media (max-width: 550px) {
    .add-new-task-btn-right {
        height: 51px;
        width: 163px;

        &>.f-s-w-21px-700 {
            font-size: 18px;
        }
    }
}



/* ---------------- */
/* add task overlay */
/* ---------------- */

.add-task-panel-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    flex-grow: 1;
    padding: 64px;
    border-radius: 30px;
    z-index: 4;
}

.add-task-overlay-headline-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}



/* --------------- */
/* add task mobile */
/* --------------- */

#add_task_mobile_html:not(.add-new-task-btn-left) .add-new-task-area {
    align-items: center;
    gap: 80px;
}

#add_task_mobile_html:not(.add-new-task-btn-left) .add-new-task-required-buttons-area {
    width: 102%;
    position: sticky;
    bottom: 0;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(245, 245, 245);
}



/* ----------------------- */
/* add task mobile oberlay */
/* ----------------------- */

#add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-task-panel-overlay {
    height: calc(930px - 64px);
    gap: 40px;
    padding: 32px 40px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    #add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-task-panel-overlay {
        gap: 24px;
        padding: 32px 20px;
        padding-right: 0px;
    }
}

@media (max-height: 900px) {
    #add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-task-panel-overlay {
        height: calc(100vh - 64px - 32px);
    }
}

#add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-task-overlay-headline-area {
    justify-content: flex-end;

    & .overlay-close-icon {
        margin-right: 24px;
    }
}

#add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-new-task-area {
    align-items: center;
    gap: 16px;
}

.add-task-input-area-overlay {
    height: 730px;
}

@media (max-width: 550px) and (max-height: 900px) {
    .add-task-input-area-overlay {
        height: 540px !important;
    }
}

@media (max-height: 900px) {
    .add-task-input-area-overlay {
        height: 519px;
    }
}

#add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-new-task-input-area {
    padding-left: 1px;
}

#add_task_mobile_overlay_html:not(.add-new-task-btn-left) .add-new-task-required-buttons-area {
    justify-content: flex-end;

    & .add-new-task-btn-right {
        width: 98px;
        margin-right: 24px;
    }
}