/* ----------- */
/* board panel */
/* ----------- */

.board-panel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-grow: 1;
    margin-top: 96px;
    margin-left: 48px;
}



/* -------------- */
/* board headline */
/* -------------- */

.board-headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-search-add-task-area {
    display: flex;
    align-items: center;
    gap: 32px;
}

.board-search-input {
    width: calc(312px - 42px - 50.4px);
}

.board-search-img {
    height: 32px;
    width: 32px;
    background-image: url('/assets/img/icon_search.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        background-image: url('/assets/img/icon_search_hover.png');
    }
}

.board-add-task-button {
    height: 49.6px;
    width: 160px;
}



/* ------------------ */
/* board status panel */
/* ------------------ */

.board-status-panel {
    display: flex;
    gap: 26px;
}

.board-status-column {
    max-height: 688px;
    width: 246px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.board-status-column-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-status-column-headline-img {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_add_status_board.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        cursor: pointer;
        background-image: url('/assets/img/icon_add_status_board_hover.png');
    }
}

.board-status-no-tasks {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted lightgray;
    border-radius: 10px;
    color: rgba(0 0 0 / 30%);
    background-color: rgb(231, 231, 231);
}



/* ---------------- */
/* board detal card */
/* ---------------- */

.board-detail-card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0 / 30%);
}

.board-detail-card-panel {
    max-height: calc(931px - 96px);
    width: calc(525px - 80px);
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 24px;
}

.board-detail-card-category-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}