/* ----------- */
/* board panel */
/* ----------- */

.board-panel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 96px;
    margin-left: 48px;
    margin-right: 48px;
}

@media (max-width: 1550px) {
    .board-panel {
        margin-right: 0;
        gap: 24px;
    }
}

@media (max-width: 900px) {
    .board-panel {
        margin-top: 40px;
    }
}

@media (max-width: 550px) {
    .board-panel {
        width: 400px;
        margin-left: calc((100vw - 400px) / 2);
    }
}



/* -------------- */
/* board headline */
/* -------------- */

.board-headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1100px) {
    .board-headline-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}

.board-search-add-task-area {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1100px) {
    .board-search-add-task-area {
        width: 100%;

        &>.input-img-area {
            width: 100%;
        }
    }
}

.board-search-input {
    width: calc(312px - 42px - 50.4px);
}

@media (max-width: 1100px) {
    .board-search-input {
        width: calc(100% - 42px - 50.4px);
    }
}

@media (max-width: 550px) {
    .board-search-input {
        width: calc(396px - 42px - 50.4px);
    }
}

.board-search-img {
    height: 32px;
    width: 32px;
    background-image: url('../assets/img/icon_search.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        background-image: url('../assets/img/icon_search_hover.png');
    }
}

.board-add-task-button {
    height: 49.6px;
    width: 160px;
}

.board-add-task-button-mobile {
    display: none;
}

@media (max-width: 1100px) {
    .board-add-task-button {
        display: none;
    }

    .board-headline {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.f-s-61px {
            font-size: 47px;
        }
    }

    .board-add-task-button-mobile {
        height: 49.6px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .board-headline {
        width: 396px;
    }

    .board-add-task-button-mobile {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>.f-s-w-21px-700 {
            display: none;
        }
    }
}



/* ------------------ */
/* board status panel */
/* ------------------ */

.board-status-panel {
    display: flex;
    gap: 26px;
}

@media (max-width: 1550px) {
    .board-status-panel {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.board-status-column {
    position: relative;
    min-height: 688px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1550px) {
    .board-status-column {
        min-height: unset;
        min-width: 100%;
    }
}

.board-status-column-headline {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 16px;
    z-index: 1;
    border-radius: 10px;

}

@media (max-width: 1550px) {
    .board-status-column-headline {
        position: static;
        padding: 0;
        padding-bottom: 16px;

        &>.f-s-w-20px-700 {
            font-size: 27px;
        }
    }
}

.board-status-column-headline-img {
    height: 24px;
    width: 24px;
    background-image: url('../assets/img/icon_add_status_board.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        cursor: pointer;
        background-image: url('../assets/img/icon_add_status_board_hover.png');
    }
}

@media (max-width: 1550px) {
    .board-status-column-headline-img {
        height: 30px;
        width: 30px;
    }
}

.board-status-no-tasks {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted lightgray;
    border-radius: 10px;
    color: rgba(0 0 0 / 30%);
    background-color: rgb(231, 231, 231);
}

@media (max-width: 1550px) {
    .board-status-no-tasks {
        width: 280px;
    }
}

.board-status-column:has(.board-short-card-panel) #to-do-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #in-progress-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #await-feedback-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #done-no-tasks {
    display: none;
}

.board-status-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    padding-top: 8px;
}

@media (max-width: 1550px) {
    .board-status-task-container {
        min-height: 160px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        padding: 8px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}



/* ---------------- */
/* board short card */
/* ---------------- */
.board-short-card-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: calc(252px - 32px);
    padding: 16px;
    border-radius: 24px;

    &:hover {
        cursor: pointer;
        transform: rotate(5deg);
    }
}

@media (max-width: 1550px) {
    .board-short-card-panel-content::before {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        content: 'Touch \A here \A 1 sec.';
        white-space: pre-wrap;
        margin-bottom: -64px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: rgba(0 0 0 / 30%);
    }
}

.board-short-card-category {
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 56, 255);
}

.board-short-card-title-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.board-short-card-subtasks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-short-card-subtasks-progress-bar-should {
    height: 8px;
    width: 128px;
    background-color: rgb(244, 244, 244);
    border-radius: 8px;
}

.board-short-card-subtasks-progress-bar-is {
    width: calc(128px * 0.5);
    height: 8px;
    background-color: rgb(69, 137, 255);
    border-radius: 8px;
}

.board-short-card-text-subtasks {
    display: flex;
    gap: 4px;
}

.board-short-card-assigned-to-priority {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-short-card-assigned-to {
    display: flex;

    & div {
        margin-right: -12px;
    }
}

.board-short-card-mark-dropped {
    color: white;
    background-color: rgb(42, 54, 71);
}



/* ----------------- */
/* board detail card */
/* ----------------- */

.board-detail-card-panel {
    position: relative;
    width: calc(525px - 80px);
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 24px;
    z-index: 4;
}

@media (max-width: 600px) or (max-height: 900px) {
    .board-detail-card-panel {
        max-height: calc(100vh - 64px - 32px);
        width: calc(396px - 64px);
        padding: 32px 24px;

        .f-s-61px {
            font-size: 36px;
        }

        .f-s-w-23px-400 {
            font-size: 16px;
        }

        .f-s-w-20px-400 {
            font-size: 16px;
        }

        .f-s-w-19px-400 {
            font-size: 16px;
        }
    }
}

.board-detail-card-category-area {
    display: flex;
    justify-content: space-between;

    & span {
        padding: 4px 24px;
        border-radius: 10px;
        color: white;
        background-color: rgb(0, 56, 255);
    }
}

@media (max-width: 600px) or (max-height: 900px) {
    .board-detail-card-category-area {
        & span {
            padding: 4px 16px;
            border-radius: 8px;
        }
    }
}

table {
    display: flex;

    & td {
        padding-bottom: 24px;
        padding-right: 25px;
    }
}

.board-detail-card-priority-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.board-detail-card-assigned-to {
    display: flex;
    flex-direction: column;

    & ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 16px;

        & li {
            margin-top: 16px;
        }
    }

    @media (max-width: 600px) {
        & ul {
            padding-inline-start: 8px;
        }
    }
}

.board-detail-card-delete-edit-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.board-detail-card-delete-edit-area:has(.separator-1px-lightgrey) .separator-1px-lightgrey {
    height: 24px;
}

.board-detail-card-delete-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    &:hover {
        cursor: pointer;
        color: rgb(41, 170, 227);
        font-weight: 700;

        & .board-detail-card-delete-img {
            background-image: url('../assets/img/icon_delete_hover.png');
        }

        & .board-detail-card-edit-img {
            background-image: url('../assets/img/icon_edit_hover.png');
        }
    }
}

.board-detail-card-delete-img {
    height: 24px;
    width: 24px;
    background-image: url('../assets/img/icon_delete_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.board-detail-card-edit-img {
    height: 24px;
    width: 24px;
    background-image: url('../assets/img/icon_edit_black.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}