/* ----------- */
/* board panel */
/* ----------- */

.board-panel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 96px;
    margin-left: 48px;
}



/* -------------- */
/* board headline */
/* -------------- */

.board-headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-search-add-task-area {
    display: flex;
    align-items: center;
    gap: 32px;
}

.board-search-input {
    width: calc(312px - 42px - 50.4px);
}

.board-search-img {
    height: 32px;
    width: 32px;
    background-image: url('/assets/img/icon_search.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        background-image: url('/assets/img/icon_search_hover.png');
    }
}

.board-add-task-button {
    height: 49.6px;
    width: 160px;
}



/* ------------------ */
/* board status panel */
/* ------------------ */

.board-status-panel {
    display: flex;
    gap: 26px;
}

.board-status-column {
    min-height: 688px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.board-status-column-headline {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 16px;
    z-index: 1;
    border-radius: 10px;

}

.board-status-column-headline-img {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_add_status_board.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        cursor: pointer;
        background-image: url('/assets/img/icon_add_status_board_hover.png');
    }
}

.board-status-no-tasks {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted lightgray;
    border-radius: 10px;
    color: rgba(0 0 0 / 30%);
    background-color: rgb(231, 231, 231);
}

.board-status-column:has(.board-short-card-panel) #to-do-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #in-progress-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #await-feedback-no-tasks {
    display: none;
}

.board-status-column:has(.board-short-card-panel) #done-no-tasks {
    display: none;
}

.board-status-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
}



/* ---------------- */
/* board short card */
/* ---------------- */

.board-short-card-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: calc(252px - 32px);
    padding: 16px;
    border-radius: 24px;

    &:hover {
        cursor: pointer;
        transform: rotate(5deg);
    }

}

.board-short-card-category {
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 56, 255);
}

.board-short-card-title-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.board-short-card-subtasks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-short-card-subtasks-progress-bar-should {
    height: 8px;
    width: 128px;
    background-color: rgb(244, 244, 244);
    border-radius: 8px;
}

.board-short-card-subtasks-progress-bar-is {
    width: calc(128px * 0.5);
    height: 8px;
    background-color: rgb(69, 137, 255);
    border-radius: 8px;
}

.board-short-card-text-subtasks{
    display: flex;
    gap: 4px;
}

.board-short-card-assigned-to-priority {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-short-card-assigned-to {
    display: flex;

    & div {
        margin-right: -12px;
    }
}

.board-short-card-mark-dropped {
    color: white;
    background-color: rgb(42, 54, 71);
}



/* ----------------- */
/* board detail card */
/* ----------------- */

.board-detail-card-panel {
    position: relative;
    width: calc(525px - 80px);
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 24px;
    z-index: 4;
}

.board-detail-card-category-area {
    display: flex;
    justify-content: space-between;

    & span {
        padding: 4px 24px;
        border-radius: 10px;
        color: white;
        background-color: rgb(0, 56, 255);
    }
}

table {
    display: flex;

    & td {
        padding-bottom: 24px;
        padding-right: 25px;
    }
}

.board-detail-card-priority-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.board-detail-card-assigned-to {
    display: flex;
    flex-direction: column;

    & ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;

        & li {
            margin-top: 16px;
        }
    }
}

.board-detail-card-delete-edit-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.board-detail-card-delete-edit-area:has(.separator-1px-lightgrey) .separator-1px-lightgrey {
    height: 24px;
}

.board-detail-card-delete-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    &:hover {
        cursor: pointer;
        color: rgb(41, 170, 227);
        font-weight: 700;

        & .board-detail-card-delete-img {
            background-image: url('/assets/img/icon_delete_hover.png');
        }

        & .board-detail-card-edit-img {
            background-image: url('/assets/img/icon_edit_hover.png');
        }
    }
}

.board-detail-card-delete-img {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_delete_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.board-detail-card-edit-img {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/icon_edit_black.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}