/* -------------- */
/* contacts panel */
/* -------------- */

.contacts-panel {
    display: flex;
    height: calc(100vh - 96px);
}



/* ------------------ */
/* contacts left side */
/* ------------------ */

.contacts {
    width: 456px;
    box-shadow: 4px 0px 4px 0px rgba(0 0 0 / 10%);
    border: 1px solid lightgray;
    z-index: 2;
}

.contacts-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contact-btn-area {
    position: sticky;
    top: 0;
    padding: 22.5px 52px;
    background-color: white;
}

.contacts-btn {
    gap: 16px;
    width: 352px;
}

#contacts-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 352px;
}

.contacts-letter-headline {
    font-size: 20px;
    font-weight: 400;
    padding: 17px 36px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
    border-radius: 10px;
}

.contact-card:hover {
    cursor: pointer;
    background-color: rgb(246, 247, 248);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* ------------------- */
/* contacts right side */
/* ------------------- */

.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: hidden;
}

.contact-data-area {
    margin-top: 96px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact-data-headline,
.contact-data-headline-subContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    &,
    .separator-3px-blue {
        height: 59px;
    }
}

.contact-data-content-parent {
    position: relative;
}

#contact-data-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.contact-data-name-area {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 48px;
}

.contact-data-name-icon {
    height: 120px;
    width: 120px;
}

.contact-data-name-headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-data-name {
    margin: unset;
    padding: unset;
}

.contact-data-name-edit-del-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.contact-data-name-edit-del {
    display: flex;
    align-items: center;
    gap: 8px;

    & > div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 24px;
        width: 24px;
    }

    & .contact-data-name-edit {
        background-image: url('/assets/img/icon_edit_black.png');
    }

    & .contact-data-name-delete {
        background-image: url('/assets/img/icon_delete_white.png');
    }
}

.contact-data-name-edit-del:hover {
    cursor: pointer;
    color: rgb(41, 170, 227);


    .contact-data-name-edit {
        background-image: url('/assets/img/icon_edit_hover.png');
    }

    .contact-data-name-delete {
        background-image: url('/assets/img/icon_delete_hover.png');
    }

    .f-s-w-16px-400 {
        font-weight: 700;
    }
}

.contact-data-info-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-data-info-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}