body {
    margin: 0;
    font-family: "Inter", "Sans-serif";
    background-color: rgb(245, 245, 245);
    height: 100vh;
    transition: all ease-in-out 75ms;
}



/* --------------- */
/* generic classes */
/* --------------- */

.d-none {
    display: none !important;
}

.v-hidden {
    visibility: hidden;
}

.background-color-white {
    background-color: rgb(255, 255, 255);
}

.f-s-w-16px-400 {
    font-size: 16px;
    font-weight: 400;
}

.f-s-w-20px-400 {
    font-size: 20px;
    font-weight: 400;
}

.f-s-w-16px-700 {
    font-size: 16px;
    font-weight: 700;
}

.f-s-w-21px-700 {
    font-size: 21px;
    font-weight: 700;
}



/* ----------------- */
/* headlines default */
/* ----------------- */

.separator {
    border: 3px solid rgb(41, 170, 227);
    border-radius: 8px;
}



/* -------------- */
/* inputs default */
/* -------------- */

input {
    height: calc(48px - 24px);
    width: calc(422px - 42px - 37px);
    outline: none;
    font-size: 20px;
    padding: 12px 21px;
    border: 1px solid lightgrey;
    border-right: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input::placeholder {
    color: rgb(209, 209, 209);
}

.input-img-area {
    display: flex;
    align-items: center;
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding-right: 12px;
    border: 1px solid lightgray;
    border-left: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input:focus {
    box-shadow: none;
    border-color: rgb(41, 170, 227);
}

.input-img-area:focus-within .input-img {
    border-color: rgb(41, 170, 227);
}



/* ------------------ */
/* checkboxes default */
/* ------------------ */

.checkbox-text-area {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+div::after {
    content: url('/assets/img/icon_checkbox_empty.png');
    margin-right: 4px;
}

input[type="checkbox"]:hover+div::after {
    content: url('/assets/img/icon_checkbox_empty_hover.png');
    margin-right: 4px;
}

input[type="checkbox"]:checked+div::after {
    content: url('/assets/img/icon_checkbox_marked.png');
}

input[type="checkbox"]:checked:hover+div::after {
    content: url('/assets/img/icon_checkbox_marked_hover.png');
}



/* --------------- */
/* buttons default */
/* --------------- */

.btn-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgb(42, 54, 71);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
}

.btn-black:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 227);
    box-shadow: 0 4px 0 rgba(0 0 0 / 15%);
}

.btn-black:disabled {
    opacity: 60%;

    &.btn-black:hover {
        cursor: unset;
        background-color: rgb(42, 54, 71);
        box-shadow: unset;
    }
}

.btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: white;
    color: black;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 10px;
}

.btn-white:hover {
    cursor: pointer;
    color: rgb(41, 170, 227);
    border: 2px solid rgb(41, 170, 227);
    box-shadow: 0 4px 0 rgba(0 0 0 / 15%);
}



/* ---------------------------- */
/* information slidebox default */
/* ---------------------------- */

.information-slidebox {
    color: rgb(255, 255, 255);
    background-color: rgb(42, 54, 71);
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    right: calc(50vw - 151.5px);
    bottom: -80px;
    z-index: 9;
    animation-duration: 1.5s;
    animation-name: info-slide-up-down;
    animation-delay: 200ms;
    height: 64px;
    width: 303px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes info-slide-up-down {
    25% {
        bottom: 50vh;
    }

    50% {
        bottom: 50vh;
    }

    75% {
        bottom: 50vh;
    }

    100% {
        bottom: -80px;
    }
}

/* .contact-added-slideBox {
    right: -320px;
    bottom: 48px;
    animation-duration: 1.5s;
    animation-name: moveUp;
    animation-delay: 150ms;
} */

/* @keyframes info-slide-up-down {
    25% {
        right: calc(100vw - 232px - 456px - 303px);
    }

    50% {
        right: calc(100vw - 232px - 456px - 303px);
    }

    75% {
        right: calc(100vw - 232px - 456px - 303px);
    }

    100% {
        right: -320px;
    }
} */











.sidebar-t-d-none {
    text-decoration: none;
}

.sidebar-t-highlighted {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(10, 25, 49);
}

.sidebar-t-d-none:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 25, 49);

    .sidebar-icon-summary {
        background-image: url('../assets/img/icon_summary_side_hover.png');
    }

    .sidebar-icon-add_task {
        background-image: url('../assets/img/icons_add_task_side_hover.png');
    }

    .sidebar-icon-board {
        background-image: url('../assets/img/icon_board_side_hover.png');
    }

    .sidebar-icon-contacts {
        background-image: url('../assets/img/icon_contacts_side_hover.png');
    }
}

.sidebar-icon-summary-highlighted {
    background-image: url('../assets/img/icon_summary_side_hover.png') !important;
}

.sidebar-icon-add_task-highlighted {
    background-image: url('../assets/img/icons_add_task_side_hover.png') !important;
}

.sidebar-icon-board-highlighted {
    background-image: url('../assets/img/icon_board_side_hover.png') !important;
}

.sidebar-icon-contacts-highlighted {
    background-image: url('../assets/img/icon_contacts_side_hover.png') !important;
}

.sidebar-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: rgb(42, 54, 71);
}

@media(max-width: 900px) {
    .sidebar-panel {
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100%;
    }
}

.sidebar-logo {
    height: 121.97px;
    width: 100.03px;
    margin-top: 64px;
}

@media(max-width: 900px) {
    .sidebar-logo {
        display: none;
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(max-width: 900px) {
    .sidebar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.sidebar-nav-member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px 56px;
    font-size: 16px;
    color: rgb(205, 205, 205);
}

@media(max-width: 900px) {
    .sidebar-nav-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 76px;
        width: 80px;
        border-radius: 16px;
        padding: unset;
    }
}

.sidebar-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
}

.sidebar-icon-summary {
    background-image: url('../assets/img/icon_summary_side.png');
}

.sidebar-icon-add_task {
    background-image: url('../assets/img/icon_add_task_side.png');
}

.sidebar-icon-board {
    background-image: url('../assets/img/icon_board_side.png');
}

.sidebar-icon-contacts {
    background-image: url('../assets/img/icon_contacs_side.png');
}

@media(max-width: 900px) {
    .sidebar-text {
        font-size: 14px;
    }
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;
    margin-bottom: 64px;
}

@media(max-width: 900px) {
    .sidebar-footer {
        display: none;
    }
}

@media (min-height: 850px) {
    .sidebar-footer {
        height: 317px;
    }
}

.topbar-t-d-none {
    text-decoration: none;
}

.topbar-d-none {
    display: none !important;
}

/* topbar area */
.topbar-area {
    display: block;
    position: relative;
    max-width: calc(100vw - 232px);
    z-index: 1;
}

.topbar-area *,
::after,
::before {
    box-sizing: unset !important;
}

@media(max-width: 900px) {
    .topbar-area {
        max-width: 100%;
    }
}

.topbar-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0 0 0 / 10%);
    padding-left: calc(384px - 232px);
    padding-right: 40px;
}

@media(max-width: 900px) {
    .topbar-panel {
        height: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.topbar-logo {
    display: none;
}

@media(max-width: 900px) {
    .topbar-logo {
        display: inline-flex;
        height: 39px;
        width: 32px;
    }
}

.topbar-area-headline {
    font-size: 20px;
    font-weight: 400;
}

@media(max-width: 900px) {
    .topbar-area-headline {
        display: none;
    }
}

.topbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.topbar-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

@media(max-width: 900px) {
    .topbar-icon {
        display: none;
    }
}

.topbar-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: 3px solid rgb(42, 54, 71);
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: rgb(41, 170, 227);
}

@media(max-width: 900px) {
    .topbar-user-profile {
        height: 40px;
        width: 40px;
    }
}

.topbar-user-profile:hover {
    cursor: pointer;
    background-color: rgb(226, 230, 236);
}

#context-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: calc(158px - 20px);
    width: calc(150px - 20px);
    background-color: rgb(42, 54, 71);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 16px;
    padding: 10px;
    z-index: 2;
}

@media(max-width: 900px) {
    #context-menu {
        top: 62px;
        right: 40px;
    }
}

.context-menu-member {
    padding: 8px 12px;
    font-size: 16px;
    color: rgb(205, 205, 205);
}

.context-menu-member:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 25, 49);
}