/* ----------- */
/* index panel */
/* ----------- */

.index-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 24px;
}



/* ------------ */
/* index header */
/* ------------ */

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.index-join-logo {
    height: 122px;
    object-fit: contain;
}

.index-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.index-header-not-a-user {
    color: black;
}

.index-btn-signup {
    height: 49px;
    width: 91px;
}



/* ------------ */
/* index footer */
/* ------------ */

.index-footer {
  display: flex;
}

/* .animationOverlay {
  position: absolute;
  z-index: 999;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #F6F7F8;
} */

/* .logoAnimation {
  position: relative;
  animation: slideLogo 1s ease-in-out;
  animation-fill-mode: forwards;
} */