/* --------- */
/* join body */
/* --------- */

.join-body {
    display: flex;
}

/* ---------- */
/* join panel */
/* ---------- */

.join-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.join-transparent-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0 / 30%);
    z-index: 3;
}

.join-transparent-background-overlay-add-new-contact {
    z-index: 4;
}