/* ######################### */
/* LOGIN */
/* ######################### */

/* ---------- */
/* login area */
/* ---------- */

.login-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



/* --------------- */
/* login animation */
/* --------------- */

.login-animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 1.25s;
  animation-name: login-animation-overlay;
  background-color: white;
}

@media (max-width: 700px) {
  .login-animation-overlay {
    background-color: rgb(42, 54, 71);
  }
}

@keyframes login-animation-overlay {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.login-animation-join-logo {
  background-image: url('../assets/img/logo_join.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 16px;
  left: 24px;
  height: 123px;
  width: 100px;
  object-fit: contain;
  animation-duration: 1.25s;
  animation-name: login-logo-animation;
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .login-animation-join-logo {
    height: 78px;
    width: 64px;
  }
}

@keyframes login-logo-animation {
  0% {
    background-image: url('../assets/img/logo_join.png');
    top: 50vh;
    left: 50vw;
    transform: scale(3);
    display: block;
  }

  25% {
    background-image: url('../assets/img/logo_join.png');
    top: 50vh;
    left: 50vw;
    transform: scale(3);
    display: block;
  }

  100% {
    background-image: url('../assets/img/logo_join.png');
    position: absolute;
    top: 16px;
    left: 24px;
    transform: scale(1);
    display: none !important;
  }
}

@media (max-width: 700px) {
  @keyframes login-logo-animation {
    0% {
      background-image: url('../assets/img/join_logo_white.png');
      top: 50vh;
      left: 50vw;
      transform: scale(3);
      display: block;
    }

    25% {
      background-image: url('../assets/img/join_logo_white.png');
      top: 50vh;
      left: 50vw;
      transform: scale(3);
      display: block;
    }

    100% {
      background-image: url('../assets/img/logo_join.png');
      position: absolute;
      top: 16px;
      left: 24px;
      transform: scale(1);
      display: none !important;
    }
  }
}



/* ----------- */
/* login panel */
/* ----------- */

.login-panel {
  height: 493px;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0 14px 3px rgba(0 0 0 / 16%);
  border-radius: 30px;
  gap: 32px;
}

@media (max-width: 700px) {
  .login-panel {
    height: 515px;
    width: 396px;
  }
}

@media (max-width: 400px) {
  .login-panel {
    height: 470px;
    width: 320px;
  }
}



/* ------------ */
/* login header */
/* ------------ */

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 48px);
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.login-join-logo {
  background-image: url('../assets/img/logo_join.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 122px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .login-join-logo {
    height: 78px;
    width: 64px;
  }
}

.login-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.login-header-right-bottom {
  display: none;
}

@media (max-width: 700px) {
  .login-header-right-top {
    display: none;
  }

  .login-header-right-bottom {
    display: flex;
  }
}

.login-btn-signup {
  height: 49px;
  width: 91px;
}



/* -------------- */
/* login headline */
/* -------------- */

.login-headline-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.login-headline {
  margin: 0;
}

.login-separator-lenght {
  width: 150px;
}

@media (max-width: 700px) {
  .login-headline {
    font-size: 47px;
  }

  .login-separator-lenght {
    width: 88px;
  }
}



/* ------------------ */
/* login form element */
/* ------------------ */

.login-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media (max-width: 400px) {
  .login-form-area {
    gap: 20px;
  }
}

.login-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

@media (max-width: 400px) {
  .login-form-input-area {
    gap: 19px;
  }
}

.login-input-warning {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-wrong-mail-password {
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 129, 144);
  margin-bottom: -16px;
}

.login-options-area {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 400px) {
  .login-options-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.login-forgotten-password {
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.login-forgotten-password:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.login-btn-left {
  height: 48px;
  width: 110px;
}

.login-btn-right {
  height: 48px;
  width: 177px;
}

@media (max-width: 700px) {
  .login-btn-left {
    height: 51px;
    width: 180px;
    font-size: 16px;
  }

  .login-btn-right {
    height: 51px;
    width: 180px;
    font-size: 16px;
  }
}



/* ----------------- */
/* index buttom area */
/* ----------------- */

.login-bottom-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  gap: 40px;
}

@media (max-width: 400px) {
  .login-bottom-area {
    gap: 8px;
  }
}



/* ------------ */
/* index footer */
/* ------------ */

.login-footer {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.login-link {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.login-link:hover {
  cursor: pointer;
  color: rgb(41, 170, 227);
  font-weight: 700;
}



/* ######################### */
/* SIGNUP */
/* ######################### */

/* ------------ */
/* signup panel */
/* ------------ */

.signup-panel {
  height: 630px !important;
  width: 598px !important;
  position: relative;
}

@media (max-width: 700px) {
  .signup-panel {
    height: 595px !important;
    width: 396px !important;
  }
}

@media (max-width: 400px) {
  .signup-panel {
    height: 520px !important;
    width: 320px !important;
  }
}



/* ----------------- */
/* signup back arrow */
/* ----------------- */

.signup-back-arrow {
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 32px;
}

@media (max-width: 400px) {
  .signup-back-arrow {
    left: 16px;
  }
}



/* ------------------- */
/* signup form element */
/* ------------------- */

.signup-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-requirement {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signup-privacy-policy {
  cursor: pointer;
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.signupt-btn {
  height: 55px;
  width: 126px;
}

@media (max-width: 700px) {
  .signup-btn {
    height: 51px;
    width: 180px;
    font-size: 16px;
  }
}



/* ######################### */
/* RESET PASSWORD */
/* ######################### */

/* -------------------- */
/* reset password panel */
/* -------------------- */

.reset-password-panel {
  position: relative;
  height: 423px;
  width: 652px;
}

@media (max-width: 700px) {
  .reset-password-panel {
    height: 348px !important;
    width: 396px !important;
  }
}

@media (max-width: 400px) {
  .reset-password-panel {
    height: 320px !important;
    width: 320px !important;
  }
}

/* ----------------------- */
/* reset password headline */
/* ----------------------- */

.reset-password-separator-lenght {
  width: 150px;
}

@media (max-width: 700px) {
  .reset-password-separator-lenght {
    width: 88px;
  }
}



/* ######################### */
/* INFO PAGES */
/* ######################### */

/* --------------- */
/* info pages area */
/* --------------- */

.info-pages-area {
  height: 100%;
  display: flex;
}

/* ---------------------------- */
/* info pages area subcontainer */
/* ---------------------------- */

.info-pages-area-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .info-pages-mobile {
    display: none;
  }
}