/* ######################### */
/* LOGIN */
/* ######################### */

/* ---------- */
/* login body */
/* ---------- */

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}



/* ------------ */
/* login header */
/* ------------ */

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 48px);
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.login-join-logo {
  height: 122px;
  object-fit: contain;
}

.login-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.login-btn-link {
  text-decoration: none;
}

.login-btn-signup {
  height: 49px;
  width: 91px;
}



/* ----------- */
/* login panel */
/* ----------- */

.login-panel {
  height: 493px;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0 14px 3px rgba(0 0 0 / 16%);
  border-radius: 30px;
  gap: 32px;
}



/* -------------- */
/* login headline */
/* -------------- */

.login-headline-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-headline {
  font-size: 61px;
  margin: 0;
}

.login-separator-lenght {
  width: 150px;
}



/* ------------------ */
/* login form element */
/* ------------------ */

.login-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.login-input-waring {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-wrong-mail-password {
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 129, 144);
}

.login-options-area {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: -16px;
}

.login-forgotten-password {
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.login-forgotten-password:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.login-btn-left {
  height: 48px;
  width: 110px;
}

.login-btn-right {
  height: 48px;
  width: 177px;
}



/* ------------ */
/* index footer */
/* ------------ */

.login-footer {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.login-link {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.login-link:hover {
  color: rgb(41, 170, 227);
  font-weight: 700;
}



/* ######################### */
/* SIGNUP */
/* ######################### */

/* ------------ */
/* signup panel */
/* ------------ */

.signup-panel {
  height: 630px !important;
  width: 598px !important;
  position: relative;
}



/* ----------------- */
/* signup back arrow */
/* ----------------- */

.signup-back-arrow {
  position: absolute;
  top: 32px;
  left: 32px;
}



/* ------------------- */
/* signup form element */
/* ------------------- */

.signup-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-requirement {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signup-privacy-policy {
  cursor: pointer;
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.signupt-btn {
  height: 55px;
  width: 126px;
}



/* ######################### */
/* RESET PASSWORD */
/* ######################### */

/* -------------------- */
/* reset password panel */
/* -------------------- */

.reset-password-panel {
  position: relative;
  height: 443px;
  width: 852px;
}














@keyframes slideLogo {
  0% {
    width: 274px;
    height: 334px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    width: 90px;
    height: 110px;
    top: 51px;
    left: 77px;
  }
}

.animationOverlayMobile {
  display: none;
}

.form_login {
  width: 652px;
  height: 505px;
  padding: 48px 115px;
}

.form_forgotPassword {
  width: 832px;
  height: 441px;
  padding: 48px 88px;
}

.dontWorry {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.backToLogin {
  position: absolute;
  left: 60px;
  top: 71px;
}

.backToLogin2 img:hover {
  width: 24px;
}

.backToLogin img:hover {
  width: 24px;
}

.form_resetPassword {
  height: 511px;
  width: 826px;
  padding: 48px 88px;
}

.form_signup {
  height: 630px;
  width: 598px;
  padding: 48px 88px;
}

.input_login {
  width: 422px;
  height: 48px;
  padding: 12px 21px;
  border-radius: 10px;
}

.input_mail {
  background: url("../assets/img/mail.svg");
  background-repeat: no-repeat;
  background-position: 378px;
  margin-bottom: 16px;
  border-color: #D1D1D1 !important;
  box-shadow: none !important;
}

.input_name {
  background: url("../assets/img/person.svg");
  background-repeat: no-repeat;
  background-position: 378px;
  margin-bottom: 32px;
  border-color: #D1D1D1 !important;
  box-shadow: none !important;
}

.input_password {
  border-color: #D1D1D1 !important;
  margin-bottom: 16px;
}

.redBorder {
  border-color: #FF8190 !important;
}

.btn_reveal {
  cursor: pointer;
  position: absolute;
  top: 256px;
  right: 138px;
}

.signup_reveal1 {
  position: absolute;
  cursor: pointer;
  top: 324px;
  right: 111px;
}

.signup_reveal2 {
  position: absolute;
  cursor: pointer;
  top: 390px;
  right: 111px;
}

.consent_container {
  width: 231px;
  height: 24px;
  display: flex;
  justify-content: space-around;
}

.rememberMe {
  width: 142px;
  display: flex;
  justify-content: space-between;
}

#checkBox_rememberMe {
  cursor: pointer;
}

.loginButtonContainer {
  width: 322px;
  display: flex;
  justify-content: space-between;
}

.btn_filled {
  border: 2px solid #2A3647;
  background-color: #2A3647;
  color: #fff;
  transition: background-color ease-in-out 100ms, border-color ease-in-out 100ms;
}

.btn_filled:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.btn_filled:active {
  background-color: #091931;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.btn_outlined {
  border-style: solid;
  border-color: #2A3647;
  color: #2A3647;
  background-color: #fff;
  transition: border-color ease-in-out 100ms, color ease-in-out 100ms;
}

.btn_outlined:hover {
  color: #29ABE2;
  border-color: #29ABE2;
}

.btn_outlined:active {
  color: #091931;
  border-color: #091931;
}

.btn_join {
  border-width: 2px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 24px;
}

.legal_container a {
  text-decoration: none;
  color: #A8A8A8;
  font-weight: 400;
  font-size: 16px;
}

.legal_container a:hover {
  color: #2A3647;
}

.invisible {
  visibility: hidden !important;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-size: contain;
}

.custom-checkbox .checkbox-icon {
  background: url("../assets/img/checkbox_empty.svg") no-repeat;
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-icon {
  background: url("../assets/img/checkbox_cutted.svg"), url("../assets/img/checkbox_mark.svg") no-repeat;
  background-size: contain, 15px;
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
}

.slideBox {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 25px;
  color: #fff;
  background-color: #2A3647;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -100px;
  z-login: 999;
  animation-name: moveUp;
  animation-duration: 2s;
  animation-delay: 800ms;
  animation-timing-function: ease-out;
}

@keyframes moveUp {
  0% {
    bottom: 0;
    opacity: 1;
  }

  99% {
    bottom: 50vh;
    opacity: 0;
  }

  100% {
    display: none;
  }
}

/* .animationOverlay {
  position: absolute;
  z-index: 999;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #F6F7F8;
} */

/* .logoAnimation {
  position: relative;
  animation: slideLogo 1s ease-in-out;
  animation-fill-mode: forwards;
} */