/* ######################### */
/* LOGIN */
/* ######################### */

/* ---------- */
/* login body */
/* ---------- */

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}



/* --------------- */
/* login animation */
/* --------------- */

.login-animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 1s;
  animation-name: login-animation-overlay;
}

@keyframes login-animation-overlay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.login-animation-join-logo {
  position: absolute;
  top: 16px;
  left: 24px;
  height: 122px;
  object-fit: contain;
  animation-duration: 1s;
  animation-name: login-logo-animation;
}

@keyframes login-logo-animation {
  0% {
    top: 50vh;
    left: 50vw;
    transform: scale(3);
    display: block;
  }

  100% {
    position: absolute;
    top: 16px;
    left: 24px;
    transform: scale(1);
    display: none !important;
  }
}



/* ----------- */
/* login panel */
/* ----------- */

.login-panel {
  height: 493px;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0 14px 3px rgba(0 0 0 / 16%);
  border-radius: 30px;
  gap: 32px;
}



/* ------------ */
/* login header */
/* ------------ */

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 48px);
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.login-join-logo {
  height: 122px;
  object-fit: contain;
}

.login-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.login-btn-signup {
  height: 49px;
  width: 91px;
}



/* -------------- */
/* login headline */
/* -------------- */

.login-headline-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-headline {
  margin: 0;
}

.login-separator-lenght {
  width: 150px;
}



/* ------------------ */
/* login form element */
/* ------------------ */

.login-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.login-input-warning {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-wrong-mail-password {
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 129, 144);
  margin-bottom: -16px;
}

.login-options-area {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login-forgotten-password {
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.login-forgotten-password:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.login-btn-left {
  height: 48px;
  width: 110px;
}

.login-btn-right {
  height: 48px;
  width: 177px;
}



/* ------------ */
/* index footer */
/* ------------ */

.login-footer {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.login-link {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.login-link:hover {
  color: rgb(41, 170, 227);
  font-weight: 700;
}



/* ######################### */
/* SIGNUP */
/* ######################### */

/* ------------ */
/* signup panel */
/* ------------ */

.signup-panel {
  height: 630px !important;
  width: 598px !important;
  position: relative;
}



/* ----------------- */
/* signup back arrow */
/* ----------------- */

.signup-back-arrow {
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 32px;
}



/* ------------------- */
/* signup form element */
/* ------------------- */

.signup-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-requirement {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signup-privacy-policy {
  cursor: pointer;
  color: rgb(41, 170, 227);
  text-decoration: none;
}

.signupt-btn {
  height: 55px;
  width: 126px;
}



/* ######################### */
/* RESET PASSWORD */
/* ######################### */

/* -------------------- */
/* reset password panel */
/* -------------------- */

.reset-password-panel {
  position: relative;
  height: 423px;
  width: 852px;
}

/* ----------------------- */
/* reset password headline */
/* ----------------------- */

.reset-password-separator-lenght {
  width: 500px;
}