/* ------------- */
/* summary panel */
/* ------------- */

.summary-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    flex-grow: 1;
    margin-top: 96px;
    margin-left: 48px;
}

@media (max-width: 1200px) {
    .summary-panel-animation {
        animation-duration: 3s;
        animation-name: summary-greeting-animation;
        animation-direction: reverse;
    }
}

@media (max-width: 900px) {
    .summary-panel {
        width: 400px;
        gap: 30px;
        margin-top: 40px;
    }
}

@media (max-width: 900px) and (max-height: 900px) {
    .summary-panel {
        margin-top: calc((100vh - 556px - 160px) / 2);
    }
}

@media (max-width: 500px) {
    .summary-panel {
        margin-left: calc((100vw - 400px) / 2);
    }
}



/* ---------------- */
/* summary headline */
/* ---------------- */

.summary-headline-area,
.summary-headline-subContainer {
    display: flex;
    align-items: center;
    gap: 30px;

    & .separator-3px-blue {
        height: 59px;
    }
}

.summary-headline-separator {
    height: 59px;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (max-width: 1000px) {
    .summary-headline-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        &>.f-s-61px {
            font-size: 47px;
        }
    }

    .summary-headline-subContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 16px;

        &>.f-s-27px {
            font-size: 20px;
        }

        & .separator-3px-blue {
            height: 0;
            width: 90px;
        }
    }
}


/* ------------------------- */
/*  summary information area */
/* ------------------------- */

.summary-information-area {
    display: flex;
    align-items: center;
    gap: 64px;
}

.summary-infomation-left-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.summary-information-row {
    display: flex;
    gap: 28px;
}

.summary-container-medium {
    width: 264px;
    height: 168px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 4px 0px lightgray;
}

@media (max-width: 900px) {
    .summary-container-medium {
        height: 110px;
        width: 186px;
        border-radius: 20px;
        gap: 10px;
    }
}

.summary-edit {
    width: 69px;
    height: 69px;
    border-radius: 100%;
    background-color: rgb(42, 54, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-edit-icon {
    background-image: url('../assets/img/icon_edit_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
}

@media (max-width: 900px) {
    .summary-edit {
        width: 40px;
        height: 40px;
    }

    .summary-edit-icon {
        height: 16px;
        width: 16px;
    }
}

.summary-done {
    width: 69px;
    height: 69px;
    border-radius: 100%;
    background-color: rgb(42, 54, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-done-icon {
    background-image: url('../assets/img/icon_done_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
}

@media (max-width: 900px) {
    .summary-done {
        width: 40px;
        height: 40px;
    }

    .summary-done-icon {
        height: 16px;
        width: 16px;
    }
}

.summary-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .summary-text-container {
        &>.f-s-w-64px-600 {
            font-size: 47px;
        }

        &>.f-s-w-20px-400 {
            font-size: 14px;
        }
    }
}

.summary-container-medium:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(42, 54, 71);
    box-shadow: 0px 4px 4px 0px lightgray;
    transform: scale(1.075);

    .summary-edit {
        background-color: white;
    }

    .summary-edit-icon {
        background-image: url('../assets/img/icon_edit_black.png');
        background-size: 40px;
    }

    @media (max-width: 900px) {
        .summary-edit-icon {
            background-size: 22px;
        }
    }

    .summary-done {
        background-color: white;
    }

    .summary-done-icon {
        background-image: url('../assets/img/icon_done_black.png');
    }
}

.summary-container-large {
    background-color: white;
    box-shadow: 0px 0px 4px 0px lightgray;
    border-radius: 30px;
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .summary-container-large {
        height: 110px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
    }
}

.summary-priority-task {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 28px 48px;
}

@media (max-width: 900px) {
    .summary-priority-task {
        padding: 0;
        gap: 18px;
    }
}

.summary-priority-icon {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(img[src='assets/img/icon_urgent_white.png']) {
        background-color: rgb(255, 61, 0);

        & .summary-priority-icon-img {
            height: 24px;
        }
    }

    &:has(img[src='assets/img/icon_medium_white.png']) {
        background-color: rgb(255, 168, 0);

        & .summary-priority-icon-img {
            height: 12px;
        }
    }

    &:has(img[src='assets/img/icon_low_white.png']) {
        background-color: rgb(122, 226, 40);

        & .summary-priority-icon-img {
            height: 24px;
        }
    }

    &:has(img[src='assets/img/icon_help.png']) {
        background-color: rgb(255, 255, 255);

        & .summary-priority-icon-img {
            height: 48px;
        }
    }
}

@media (max-width: 900px) {
    .summary-priority-icon {
        height: 40px;
        width: 40px;
    }
}

.summary-priority-separator {
    height: 102px;
}

@media (max-width: 900px) {
    .summary-priority-separator {
        height: 68px;
    }
}

.summary-priority-deadline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 48px;
}

@media (max-width: 900px) {
    .summary-priority-deadline {
        padding: 0;
        gap: 8px;

        &>.f-s-w-21px-700 {
            font-size: 16px;
        }

        &>.f-s-w-16px-400 {
            font-size: 14px;
        }
    }
}

.summary-container-large:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(42, 54, 71);
    box-shadow: 0px 4px 4px 0px lightgray;
    transform: scale(1.075);

    .summary-priority-separator {
        background-color: white;
    }

}

.summary-container-small {
    background-color: white;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 900px) {
    .summary-container-small {
        height: 116px;
        width: 114.75px;

        &>.f-s-w-64px-600 {
            font-size: 47px;
        }

        &>.f-s-w-20px-400 {
            font-size: 14px;
        }
    }
}

.summary-container-small:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(42, 54, 71);
    box-shadow: 0px 4px 4px 0px lightgray;
    transform: scale(1.075);
}

.summary-greeting-background {
    display: none;
}

.summary-greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 1200px) {
    .summary-greeting-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
        animation-duration: 3s;
        animation-name: summary-greeting-animation;
    }

    @keyframes summary-greeting-animation {
        0% {
            opacity: 1;
        }

        25% {

            opacity: 1;
        }

        50% {

            opacity: 1;
        }

        75% {

            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .summary-greeting {
        align-items: center;
        text-align: center;

        &>.f-s-w-47px-500 {
            font-size: 36px;
        }

        &>.f-s-w-64px-700 {
            font-size: 47px;
        }
    }

    .summary-greeting-desktop {
        display: none;
    }
}