<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="login-body">

    <!-- reset password panel -->
    <div class="login-panel reset-password-panel background-color-white">

        <!-- signup back arrow -->
        <a class="signup-back-arrow" onclick="showTemplate('login_html')">
            <img src="assets/img/icon_arrow_left.png">
        </a>

        <!-- reset password headline -->
        <div class="login-headline-area">
            <h1 class="login-headline f-s-61px">Reset<br>password</h1>
            <div class="separator-3px-blue reset-password-separator-lenght"></div>
        </div>

        <form class="login-form-area" onsubmit="sendMailResetPassword(); return false;">

            <!-- reset password input area -->
            <div class="login-form-input-area">

                <div class="login-input-warning">

                    <!-- reset input confirm password -->
                    <div class="input-img-area">
                        <input required class="input-whitout-border-right f-s-w-20px-400" type="email"
                            id="reset-email" placeholder="Email"
                            onkeyup="compareInputEmailWithUsers()"
                            onkeypress="compareInputEmailWithUsers()">

                        <div class="input-img">
                            <img src="/assets/img/icon_mail.png" id="reset-img-confirm-password" alt="icon lock image"
                            onclick="toggleReveal(this, 'reset-confirm-password')">
                        </div>
                    </div>

                    <!-- signup warning wrong mail -->
                    <span class="login-wrong-mail-password v-hidden" id="signup-wrong-mail">
                        This mail address is not exist.
                    </span>

                </div>

            </div>

            <!-- reset password button -->
            <button disabled type="submit" class="signup-btn btn-black f-s-w-21px-700" id="send_mail_btn">Send Mail</button>

        </form>

    </div>

</body>

</html>