<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- summary panel -->
    <div class="summary-panel summary-panel-animation" id="summary-panel">

        <!-- summary headline -->
        <div class="summary-headline-area">
            <h1 class="f-s-61px">Summary</h1>
            <div class="summary-headline-subContainer">
                <div class="summary-headline-separator"></div>
                <span class="f-s-27px">Everything in a nutshell!</span>
            </div>
        </div>

        <!-- summary information area -->
        <div class="summary-information-area">

            <!-- summary information area left container -->
            <div class="summary-infomation-left-container">

                <!-- summary information first row container -->
                <div class="summary-information-row">
                    <div class="summary-container-medium" onclick="showTemplate('board_html');">
                        <div class="summary-edit">
                            <div class="summary-edit-icon"></div>
                        </div>
                        <div class="summary-text-container">
                            <span class="f-s-w-64px-600" id="summary-to-do-number">1</span>
                            <span class="f-s-w-20px-400">To-Do</span>
                        </div>
                    </div>
                    <div class="summary-container-medium" onclick="showTemplate('board_html');">
                        <div class="summary-done">
                            <div class="summary-done-icon"></div>
                        </div>
                        <div class="summary-text-container">
                            <span class="f-s-w-64px-600" id="summary-done-number">1</span>
                            <span class="f-s-w-20px-400">Done</span>
                        </div>
                    </div>
                </div>

                <!-- summary information second row -->
                <div class="summary-container-large" onclick="showTemplate('board_html');">
                    <div class="summary-priority-task">
                        <div class="summary-priority-icon" id="summary-priority-icon">
                            <img class="summary-priority-icon-img" src="/assets/img/icon_urgent_white.png"
                                alt="priority image" id="summary-priority-img">
                        </div>
                        <div class="summary-text-container">
                            <span class="f-s-w-64px-600" id="summary-priority-number">1</span>
                            <span class="f-s-w-20px-400" id="summary-priority-text">Urgent</span>
                        </div>
                    </div>
                    <div class="summary-priority-separator separator-1px-lightgrey"></div>
                    <div class="summary-priority-deadline">
                        <span class="f-s-w-21px-700" id="summary-priority-date">October 16, 2022</span>
                        <span class="f-s-w-16px-400">Upcoming Deadline</span>
                    </div>
                </div>

                <!-- summary information third row -->
                <div class="summary-information-row">
                    <div class="summary-container-small" onclick="showTemplate('board_html');">
                        <span class="f-s-w-64px-600" id="summary-all-tasks-number">1</span>
                        <span class="f-s-w-20px-400">Tasks in<br>Board</span>
                    </div>
                    <div class="summary-container-small" onclick="showTemplate('board_html');">
                        <span class="f-s-w-64px-600" id="summary-progress-number">1</span>
                        <span class="f-s-w-20px-400">Tasks in<br>Progress</span>
                    </div>
                    <div class="summary-container-small" onclick="showTemplate('board_html');">
                        <span class="f-s-w-64px-600" id="summary-feedback-number">1</span>
                        <span class="f-s-w-20px-400">Awaiting<br>Feedback</span>
                    </div>
                </div>

            </div>

            <!-- summary information greeting -->
            <div class="summary-greeting summary-greeting-desktop">
                <span class="f-s-w-47px-500" id="summary-greeting">Welcome,</span>
                <span class="f-s-w-64px-700" style="color: #29ABE2;" id="summary-greeting-name"></span>
            </div>

        </div>

    </div>

    <!-- summary information greeting mobile -->
    <div class="summary-greeting-background" id="summary-greeting-background">
        <div class="summary-greeting v-hidden" id="summary-greeting-text">
            <span class="f-s-w-47px-500" id="summary-greeting">Welcome,</span>
            <span class="f-s-w-64px-700" style="color: #29ABE2;" id="summary-greeting-name"></span>
        </div>
    </div>

</body>

</html>