<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- add task panel -->
    <div class="add-task-panel-overlay background-color-white">

        <!-- add task headline -->
        <div class="add-task-overlay-headline-area">
            <h1 class="f-s-61px" id="add-task-headline">Add Task</h1>
            <img class="overlay-close-icon" src="/assets/img/icon_close.png" alt="close icon"
                onclick="openOrCloseAddTaskCard('close')">
        </div>

        <!-- add new task area' -->
        <form class="add-new-task-area" onsubmit="createOrEditTask('create', 'To do'); return false;">

            <div class="add-new-task-input-area">

                <!-- add new task left side -->
                <main class="add-new-task-half-side">

                    <!-- add new task left side title -->
                    <section class="add-new-task-subcontainer">
                        <label class="f-s-w-20px-400">
                            Title
                            <span style="color: red">*</span>
                        </label>
                        <input required class="add-new-task-input f-s-w-20px-400" type="text" id="add-task-input-title"
                            placeholder="Enter a title">
                    </section>

                    <!-- add new task left side description -->
                    <section class="add-new-task-subcontainer">
                        <label class="f-s-w-20px-400">Description</label>
                        <textarea class="add-new-task-textarea f-s-w-20px-400" id="add-task-textarea-description"
                            placeholder="Enter a Description"></textarea>
                    </section>

                    <!-- add new task left side assigned to -->
                    <section class="add-new-task-subcontainer" onclick="isolateFromOderEvents(event)">

                        <label class="f-s-w-20px-400">Assigned to</label>

                        <div class="add-new-task-input-dropdown-area background-color-white
                            b-top-left-radius b-top-right-radius b-bottom-left-radius b-bottom-right-radius"
                            id="add-task-wrapper-contact">

                            <!-- wrapper for position relative -->
                            <div class="p-relative">

                                <!-- input -->
                                <div class="input-img-area">

                                    <input class="input-whitout-border-right add-new-task-input-dropdown
                                        f-s-w-20px-400" type="text" id="add-task-input-assigned-to"
                                        placeholder="Select contacts to assign" onkeyup="renderAddTaskContactList()"
                                        onfocus="dropDownAddTask('assigned to', 'open'); renderAddTaskContactList()">

                                    <div class="input-img">

                                        <div class="add-new-task-dropdown-img add-new-task-dropdown-open"
                                            id="add-task-contact-arrow-open" onclick="dropDownAddTask('assigned to', 'open');
                                            renderAddTaskContactList()">
                                            <img src="/assets/img/drop_down_arrow_down.png">
                                        </div>

                                        <div class="add-new-task-dropdown-img add-new-task-dropdown-close d-none"
                                            id="add-task-contact-arrow-close"
                                            onclick="dropDownAddTask('assigned to', 'close');">
                                            <img src="/assets/img/drop_down_arrow_up.png">
                                        </div>

                                    </div>

                                </div>

                                <!-- wrapper for position absolut -->
                                <div class="p-absolute width-100-prozent background-color-white b-bottom-left-radius
                                    b-bottom-right-radius box-shadow-0-2-4-0 d-none" id="add-task-contact-btn-area">

                                    <!-- contact list -->
                                    <div class="add-task-contact-list overflow-y-scroll" id="add-task-contact-list">

                                    </div>

                                    <!-- add new contact button -->
                                    <div class="add-new-contact-button-area">

                                        <div class="add-new-contact-button btn-black">
                                            <span class="f-s-w-21px-700">Add new contact</span>
                                            <div>
                                                <img class="add-new-contact-button-icon"
                                                    src="/assets/img/icon_person_add.png">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- added contacts, showed by initals -->
                        <div class="add-task-contact-added-users" id="add-task-contact-added-users">
                        </div>

                    </section>

                </main>

                <!-- add new task separator -->
                <div class="separator-1px-lightgrey"></div>

                <!-- add new task right side -->
                <main class="add-new-task-half-side">

                    <!-- add new task right side due date -->
                    <section class="add-new-task-subcontainer">
                        <label class=" f-s-w-20px-400">
                            Due date
                            <span style="color: red">*</span>
                        </label>
                        <input required class="add-new-task-input f-s-w-20px-400" type="date" id="add-task-input-date"
                            onmouseover="setDateOfTodayForDatepicker('add-task-input-date');">
                    </section>

                    <!-- add new task right side prio -->
                    <section class="add-new-task-subcontainer">

                        <label class="f-s-w-20px-400">Prio</label>

                        <div class="add-new-task-priority-area" id="all-buttons-prio">

                            <!-- button urgent -->
                            <div id="add-task-btn-urgent" class="add-new-task-priority-button"
                                onclick="markedPrioAsClicked('add-task-btn-urgent');">
                                <span class="f-s-w-20px-400">Urgent</span>
                                <div class="add-new-task-priority-urgent-img"></div>
                            </div>

                            <!-- button medium -->
                            <div id="add-task-btn-medium" class="add-new-task-priority-button"
                                onclick="markedPrioAsClicked('add-task-btn-medium');">
                                <span class="f-s-w-20px-400">Medium</span>
                                <div class="add-new-task-priority-medium-img"></div>
                            </div>

                            <!-- button low -->
                            <div id="add-task-btn-low" class="add-new-task-priority-button"
                                onclick="markedPrioAsClicked('add-task-btn-low');">
                                <span class="f-s-w-20px-400">Low</span>
                                <div class="add-new-task-priority-low-img"></div>
                            </div>

                            <div id="prioStatusAsString" style="display: none;"></div>
                        </div>

                    </section>

                    <!-- add new task right side category -->
                    <section class="add-new-task-subcontainer" onclick="isolateFromOderEvents(event)">

                        <label class="f-s-w-20px-400">
                            Category
                            <span style="color: red">*</span>
                        </label>

                        <div class="add-new-task-input-dropdown-area background-color-white b-top-left-radius b-top-right-radius
                        b-bottom-left-radius b-bottom-right-radius" id="add-task-wrapper-category">

                            <!-- wrapper for position relative -->
                            <div class="p-relative">

                                <!-- input -->
                                <div class="input-img-area">

                                    <input required
                                        class="input-whitout-border-right add-new-task-input-dropdown f-s-w-20px-400"
                                        type="text" id="add-task-input-category" placeholder="Select task category"
                                        onfocus="dropDownAddTask('category', 'open'); renderCategoryTask()">

                                    <div class="input-img background-color-white" id="add-task-category-arrow-open"
                                        onclick="dropDownAddTask('category', 'open'); renderCategoryTask();">
                                        <div class="add-new-task-dropdown-img add-new-task-dropdown-open">
                                            <img src="/assets/img/drop_down_arrow_down.png">
                                        </div>
                                    </div>

                                    <div class="d-none input-img" id="add-task-add-new-category">

                                        <div class="add-new-task-dropdown-img add-new-task-dropdown-open"
                                            id="add-task-category-add" onclick="addCategory()">
                                            <img src="/assets/img/icon_add.png">
                                        </div>

                                        <div class="separator-1px-lightgrey"></div>

                                        <div class="add-new-task-dropdown-img add-new-task-dropdown-close"
                                            id="add-task-category-arrow-close"
                                            onclick="dropDownAddTask('category', 'close');">
                                            <img src="/assets/img/drop_down_arrow_up.png">
                                        </div>

                                    </div>

                                </div>

                                <!-- category list, wrapper for position absolute -->
                                <div class="p-absolute add-task-contact-list background-color-white
                                    b-bottom-left-radius b-bottom-right-radius overflow-y-scroll box-shadow-0-2-4-0 d-none"
                                    id="add-task-category-list">

                                </div>

                            </div>

                        </div>

                    </section>

                    <!-- add new task right side subtask -->
                    <section class="add-new-task-subcontainer" onclick="isolateFromOderEvents(event)">

                        <label class="f-s-w-20px-400">Subtasks</label>

                        <div class="input-img-area">

                            <input class="input-whitout-border-right add-new-task-input-subtask f-s-w-20px-400"
                                type="text" id="add-task-input-subtask" placeholder="Add new subtask"
                                onfocus="actionInputSubtask('start input')">

                            <div class="input-img background-color-white" id="add-task-subtask-add">
                                <div class="add-new-task-dropdown-img add-new-task-dropdown-open">
                                    <img src="/assets/img/icon_add.png" onclick="actionInputSubtask('start input');">
                                </div>
                            </div>

                            <div class="d-none input-img" id="add-task-add-new-subtask">

                                <div class="add-new-task-dropdown-img add-new-task-dropdown-open">
                                    <img src="/assets/img/icon_close.png" onclick="actionInputSubtask('cancel input')">
                                </div>

                                <div class="separator-1px-lightgrey"></div>

                                <div class="add-new-task-dropdown-img add-new-task-dropdown-open">
                                    <img src="/assets/img/icon_done_black_small.png"
                                        onclick="actionInputSubtask('add subtask')">
                                </div>

                            </div>

                        </div>

                        <!-- subtask list -->
                        <div class="add-new-task-subtask-list" id="add-task-subtask-list">

                        </div>

                    </section>

                </main>

            </div>

            <!-- add new task required and buttons area -->
            <section class="add-new-task-required-buttons-area">

                <span class="f-s-w-20px-400">
                    <span style="color: red">*</span>
                    This field are required
                </span>

                <!-- add new task button area -->
                <div class="button-area">

                    <button type="button" class="add-new-task-btn-left btn-white" onclick="openOrCloseAddTaskCard('close');">
                        <span class="f-s-w-20px-400">Clear</span>
                        <div class="btn-white-img"></div>
                    </button>

                    <button type="submit" class="add-new-task-btn-right btn-black" id="add-task-button-create">
                        <span class="f-s-w-21px-700">Create Task</span>
                        <img src="/assets/img/icon_done_white_small.png">
                    </button>

                </div>

            </section>

        </form>

    </div>
</body>

</html>