<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- board detail card task -->
    <div class="board-detail-card-panel background-color-white">

        <!-- board detail card categroy -->
        <div class="board-detail-card-category-area">
            <span class="f-s-w-23px-400" id="board-detail-card-category">User Story</span>
            <img class="overlay-close-icon" src="/assets/img/icon_close.png" alt="close icon"
                onclick="closeDetailCard()">
        </div>

        <!-- board detail card title -->
        <h1 class="f-s-61px" id="board-detail-card-title">Kochwelt Page & Recipe Recommender</h1>

        <!-- board detail card description -->
        <span class="f-s-w-20px-400" id="board-detail-card-description">Build start page with recipe
            recommendation.</span>

        <table>

            <!-- board detail card due date -->
            <tr class="f-s-w-20px-400">
                <td>Due date:</td>
                <td id="board-detail-card-due-date">10/05/2023</td>
            </tr>

            <!-- board detail card priority -->
            <tr class="f-s-w-20px-400" id="board-detail-card-priority-row">
                <td>Priority:</td>
                <td class="board-detail-card-priority-status">
                    <span id="board-detail-card-priority-text">Medium</span>
                    <img src="/assets/img/icon_medium_orange.png" alt="priority status img"
                        id="board-detail-card-priority-img">
                </td>
            </tr>

            <!-- board detail card assigned to -->
            <tr class="board-detail-card-assigned-to" id="board-detail-card-assigned-to-row">
                <td class="assignedTo">
                    <span class="f-s-w-20px-400">Assigned To:</span>
                    <ul id="board-detail-card-assigned-to">
                        <li class="contact-name-area">
                            <div class="contact-initals-icon f-s-w-12px-400">JS</div>
                            <span class="f-s-w-19px-400">Jenny</span>
                        </li>
                        <li class="contact-name-area">
                            <div class="contact-initals-icon f-s-w-12px-400">SS</div>
                            <span class="f-s-w-19px-400">Stephan</span>
                        </li>
                    </ul>
                </td>
            </tr>

            <!-- board detail card subtasks -->
            <tr class="board-detail-card-assigned-to" id="board-detail-card-subtasks-row">
                <td class="assignedTo">
                    <span class="f-s-w-20px-400">Subtasks:</span>
                    <ul id="board-detail-card-subtasks">
                        <li>
                            <label class="checkbox-text-area">
                                <input type="checkbox">
                                <div></div>
                                <span class="f-s-w-19px-400">Abwaschen</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-text-area">
                                <input type="checkbox">
                                <div></div>
                                <span class="f-s-w-19px-400">Biomülle rausbringen</span>
                            </label>
                        </li>
                    </ul>
                </td>
            </tr>

        </table>

        <!-- board detail card delete, edit area -->
        <div class="board-detail-card-delete-edit-area">

            <!-- delete -->
            <div class="board-detail-card-delete-edit f-s-w-16px-400" onclick="deleteTask()">
                <div class="board-detail-card-delete-img"></div>
                <span>Delete</span>
            </div>

            <div class="separator-1px-lightgrey"></div>

            <!-- edit -->
            <div class="board-detail-card-delete-edit f-s-w-16px-400" onclick="editTask()">
                <div class="board-detail-card-edit-img"></div>
                <span>Edit</span>
            </div>
        </div>

    </div>

</body>

</html>