<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/board.css">

</head>

<body>

    <!-- board panel -->
    <div class="board-panel">

        <!-- board headline area -->
        <div class="board-headline-area">

            <!-- board headline -->
            <h1 class="f-s-61px">Board</h1>

            <!-- board search add task area -->
            <div class="board-search-add-task-area">

                <div class="input-img-area">
                    <input class="input-whitout-border-right board-search-input f-s-w-20px-400" type="text"
                        id="board-search" placeholder="Find Task">

                    <div class="input-img">
                        <div class="separator-1px-lightgrey"></div>
                        <div class="board-search-img"></div>
                    </div>
                </div>

                <button class="board-add-task-button btn-black" type="button">
                    <span class="f-s-w-21px-700">Add task</span>
                    <img class="hlB1" src="/assets/img/icon_add_white.png" alt="">
                </button>

            </div>

        </div>

        <!-- board status panel -->
        <div class="board-status-panel" id="board-status-panel">

            <!-- board todo -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">To do</span>
                    <div class="board-status-column-headline-img"></div>
                </div>

                <div class="board-status-no-tasks" id="to-do-no-tasks">
                    <span class="f-s-w-16px-400">No tasks To do</span>
                </div>

                <div class="taskContainer" id="toDoContainer" ondrop="drop(event, 'to do')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board in progress -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">In progress</span>
                    <div class="board-status-column-headline-img"></div>
                </div>

                <div class="board-status-no-tasks" id="in-progress-no-tasks">
                    <span class="f-s-w-16px-400">No tasks in Progress</span>
                </div>

                <div class="taskContainer" id="inProgressContainer" ondrop="drop(event, 'inProgress')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board await feedback -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">Await feedback</span>
                    <div class="board-status-column-headline-img"></div>
                </div>

                <div class="board-status-no-tasks" id="await-feedback-no-tasks">
                    <span class="f-s-w-16px-400">No tasks await feedback</span>
                </div>

                <div class="taskContainer" id="feedbackContainer" ondrop="drop(event, 'feedback')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board done -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">Done</span>
                </div>

                <div class="board-status-no-tasks" id="done-no-tasks">
                    <span class="f-s-w-16px-400">No tasks done</span>
                </div>

                <div class="taskContainer" id="DoneContainer" ondrop="drop(event, 'done')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

        </div>

    </div>

    <!-- board detail card task -->
    <div class="board-detail-card-background" id="board-detail-card">

        <div class="board-detail-card-panel">

            <!-- board detail card categroy -->
            <div class="board-detail-card-category-area">
                <span id="taskContain">User Story</span>
                <img src="/assets/img/icon_close.png" alt="close icon">
            </div>

            <!-- board detail card title -->


            <div class="frame179">
                <p class="taskOverlayDate">Due date:</p>
                <span id="taskOverlayNumber"></span>
            </div>

            <div class="frame178">
                <p class="priority">Priority:</p>
                <div id="priorityButton">
                    <p id="medium"></p>
                    <span id="prioMedia"></span>
                </div>
            </div>

            <div class="frame214">
                <p class="assignedTo">Assigned To:</p>
                <div id="frame204"></div>
            </div>

            <div class="frame215">
                <p class="subtasks">Subtasks</p>
                <div class="frame204" id="subtaskContain">

                </div>
            </div>

            <div class="frame20" id="frame20">
                <div class="deleteContact" onclick="deleteCard()">
                    <div class="deleteContain">
                        <img src="assets/img/delete.svg" alt="" class="deleteIcon">
                    </div>
                    <p class="deleteText">Delete</p>
                </div>
                <span class="vector3"></span>
                <div class="editContacts" id="editContacts"></div>
                <div class="saveContacts" id="saveContacts" style="display: none;"></div>
            </div>

        </div>

    </div>

</body>

</html>