<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- board panel -->
    <div class="board-panel">

        <!-- board headline area -->
        <div class="board-headline-area">

            <!-- board headline -->
            <h1 class="f-s-61px">Board</h1>

            <!-- board search add task area -->
            <div class="board-search-add-task-area">

                <div class="input-img-area">
                    <input class="input-whitout-border-right board-search-input f-s-w-20px-400" type="text"
                        id="board-search" placeholder="Find Task" onkeyup="renderBoardShortCards()">

                    <div class="input-img">
                        <div class="separator-1px-lightgrey"></div>
                        <div class="board-search-img"></div>
                    </div>
                </div>

                <button class="board-add-task-button btn-black" type="button" onclick="openOrCloseAddTaskCard('open')">
                    <span class="f-s-w-21px-700">Add task</span>
                    <img class="hlB1" src="/assets/img/icon_add_white.png" alt="">
                </button>

            </div>

        </div>

        <!-- board status panel -->
        <div class="board-status-panel" id="board-status-panel">

            <!-- board todo -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700" id="board-status-column-headline">To do</span>
                    <div class="board-status-column-headline-img" onclick="openOrCloseAddTaskCard('open')"></div>
                </div>

                <div class="board-status-no-tasks" id="to-do-no-tasks" ondrop="boardDrop('To do')"
                    ondragover="allowDrop(event)">
                    <span class="f-s-w-16px-400">No tasks To do</span>
                </div>

                <!-- board to do container -->
                <div class="board-status-task-container" id="board-to-do-container" ondrop="boardDrop('To do')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board in progress -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">In progress</span>
                    <div class="board-status-column-headline-img" onclick="openOrCloseAddTaskCard('open', 'In progress')"></div>
                </div>

                <div class="board-status-no-tasks" id="in-progress-no-tasks" ondrop="boardDrop('In progress')"
                    ondragover="allowDrop(event)">
                    <span class="f-s-w-16px-400">No tasks in Progress</span>
                </div>

                <!-- board in progress container -->
                <div class="board-status-task-container" id="board-in-progress-container"
                    ondrop="boardDrop('In progress')" ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board await feedback -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">Await feedback</span>
                    <div class="board-status-column-headline-img" onclick="openOrCloseAddTaskCard('open', 'Await feedback')"></div>
                </div>

                <div class="board-status-no-tasks" id="await-feedback-no-tasks" ondrop="boardDrop('Await feedback')"
                    ondragover="allowDrop(event)">
                    <span class="f-s-w-16px-400">No tasks await feedback</span>
                </div>

                <!-- board await feedback container -->
                <div class="board-status-task-container" id="board-await-feedback-container"
                    ondrop="boardDrop('Await feedback')" ondragover="allowDrop(event)">
                </div>

            </div>

            <!-- board done -->
            <div class="board-status-column">

                <div class="board-status-column-headline">
                    <span class="f-s-w-20px-700">Done</span>
                </div>

                <div class="board-status-no-tasks" id="done-no-tasks" ondrop="boardDrop('Done')"
                    ondragover="allowDrop(event)">
                    <span class="f-s-w-16px-400">No tasks done</span>
                </div>

                <!-- board done contianer -->
                <div class="board-status-task-container" id="board-done-container" ondrop="boardDrop('Done')"
                    ondragover="allowDrop(event)">
                </div>

            </div>

        </div>

    </div>

</body>

</html>