<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- contacts panel -->
    <div class="contacts-panel" id="contacts-panel">

        <!-- contacts left side -->
        <section class="contacts background-color-white overflow-y-scroll" id="contacts">

            <div class="contacts-area">

                <!-- btn new contact -->
                <div class="contact-btn-area">
                    <button class="contacts-btn btn-black f-s-w-21px-700"
                        onclick="openAndCloseAddNewEditContact('add-new-contact-include-HTML', 'add-new-contact', false)">
                        <span class="btn-new-contact-text">Add new contact</span>
                        <img src="assets/img/icon_person_add.png" alt="person">
                    </button>
                </div>

                <!-- list with all contacts -->
                <div id="contacts-list">
                </div>

            </div>

        </section>

        <!-- contacts right side -->
        <section class="contact-data" onclick="closeEditContactPointMenu()"
            id="contact-data">

            <div class="contact-data-area">

                <!-- contact data headline -->
                <div class="contact-data-headline">
                    <h1 class="f-s-61px">Contacts</h1>
                    <div class="contact-data-headline-subContainer">
                        <div class="separator-3px-blue"></div>
                        <span class="f-s-27px">Better with a team</span>
                    </div>
                </div>

                <!-- contact data -->
                <div class="contact-data-content-parent" id="contact-data-content-parent">
                    <div id="contact-data-content">
                    </div>
                </div>

            </div>

        </section>

    </div>

</body>

</html>