<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="login-body">


    <!-- login panel -->
    <div class="login-panel background-color-white">

        <!-- login headline -->
        <div class="login-headline-area">
            <h1 class="login-headline f-s-61px">Log in</h1>
            <div class="separator-3px-blue login-separator-lenght"></div>
        </div>

        <form class="login-form-area" onsubmit="login(); return false;">

            <!-- login input area -->
            <div class="login-form-input-area">

                <!-- login input mail -->
                <div class="login-input-img-area">
                    <input required class="login-input f-s-w-20px-400" type="email" id="login-Email" placeholder="Email">

                    <div class="login-input-img">
                        <img src="assets/img/icon_mail.png" alt="icon mail image">
                    </div>
                </div>

                <div class="login-input-warning">

                    <!-- login input password -->
                    <div class="login-input-img-area">
                        <input required class="login-input f-s-w-20px-400" type="password" id="login-password" placeholder="Password"
                            onkeyup="updateInputState(this, 'login-img-password')"
                            onkeypress="updateInputState(this, 'login-img-password')">

                        <div class="login-input-img">
                            <img src="assets/img/icon_lock.png" id="login-img-password" alt="icon lock image"
                                onclick="toggleReveal(this, 'login-password')">
                        </div>
                    </div>

                    <!-- input warning wrong user or password -->
                    <span class="login-wrong-mail-password v-hidden" id=" login-wrong-mail-password">
                        Wrong user or password! Try again.
                    </span>

                </div>

            </div>

            <!-- login options -->
            <div class="login-options-area">

                <!-- login remeber me -->
                <label class="checkbox-text-area">
                    <input type="checkbox" id="login-checkbox">
                    <div></div> <!-- use for '::after' checkbox image -->
                    <span>Remember me</span>
                </label>

                <!-- login forgott password -->
                <a class="login-forgotten-password" onclick="showTemplate('reset_password_html')">
                    I forgot my password
                </a>
            </div>

            <!-- login buttons -->
            <div class="login-button-area">
                <button type="submit" class="login-btn-left btn-black f-s-w-21px-700">
                    Log in
                </button>
                <button type="button" class="login-btn-right btn-white f-s-w-21px-700" onclick="guest();">
                    Guest Log in
                </button>
            </div>

        </form>

    </div>

</body>

</html>