<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <!-- login panel -->
    <div class="login-panel background-color-white">

        <!-- login headline -->
        <div class="login-headline-area">
            <h1 class="login-headline">Log in</h1>
            <div class="separator login-separator-lenght"></div>
        </div>

        <form class="login-form-area" onsubmit="login(); return false;">

            <!-- login input area -->
            <div class="login-form-input-area">

                <!-- login input mail -->
                <div class="input-img-area">
                    <input type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Email"
                        autocomplete="username">

                    <div class="input-img">
                        <img src="/assets/img/icon_mail.png" alt="mail icon">
                    </div>
                </div>

                <!-- login input password -->
                <div class="input-img-area">
                    <input type="password" id="login-password" placeholder="Password"
                        onkeyup="updateInputState(this, 'login-input-img-password')"
                        onkeypress="updateInputState(this, 'login-input-img-password')" autocomplete="current-password">

                    <div class="input-img">
                        <img src="/assets/img/icon_lock.png" id="login-input-img-password"
                            onclick="toggleReveal(this, 'login-password')">
                    </div>
                </div>

                <!-- input warning wrong user or password -->
                <span class="login-wrong-mail-password v-hidden" id="login-wrong-mail-password">Wrong user or password! Try again.
                </span>

            </div>

            <!-- login options -->
            <div class="login-options-area">

                <!-- login remeber me -->
                <label class="checkbox-text-area">
                    <input type="checkbox" id="login-checkbox">
                    <div></div> <!-- use for '::after' checkbox image -->
                    <span>Remember me</span>
                </label>

                <!-- login forgott password -->
                <label class="login-forgotten-password"
                    onclick="loadHTML('formElement', 'forgotPassword.html'); toggleUiElements('forgotPassword.html');">
                    I forgot my password</label>
            </div>

            <!-- login buttons -->
            <div class="loginButtonContainer">
                <button type="submit" class="login-btn-left btn-black f-s-w-21px-700">Log in</button>
                <button type="button" class="login-btn-right btn-white f-s-w-21px-700" onclick="guest();">Guest Log in</button>
            </div>

        </form>

    </div>

</body>

</html>