<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="login-body">

    <!-- reset password panel -->
    <div class="login-panel reset-password-panel background-color-white">

        <!-- signup back arrow -->
        <a class="signup-back-arrow" onclick="showTemplate('login_html')">
            <img src="assets/img/icon_arrow_left.png">
        </a>

        <!-- reset password headline -->
        <div class="login-headline-area">
            <h1 class="login-headline">Reset your password</h1>
            <div class="separator reset-password-separator-lenght"></div>
        </div>

        <form class="login-form-area" onsubmit="resetPassword(); return false;">

            <!-- reset password input area -->
            <div class="login-form-input-area">

                <!-- reset input password -->
                <div class="input-img-area">
                    <input type="password" id="reset-password" placeholder="New password"
                        onkeyup="updateInputState(this, 'reset-img-password')"
                        onkeypress="updateInputState(this, 'reset-img-password')">

                    <div class="input-img">
                        <img src="assets/img/icon_lock.png" id="reset-img-password" alt="icon lock image"
                        onclick="toggleReveal(this, 'reset-password')">
                    </div>
                </div>

                <div class="login-input-warning">

                    <!-- reset input confirm password -->
                    <div class="input-img-area">
                        <input type="password" id="reset-confirm-password" placeholder="Confirm password"
                        onkeyup="updateInputState(this, 'reset-img-confirm-password')"
                        onkeypress="updateInputState(this, 'reset-img-confirm-password')">

                        <div class="input-img">
                            <img src="assets/img/icon_lock.png" id="reset-img-confirm-password" alt="icon lock image"
                            onclick="toggleReveal(this, 'reset-confirm-password')">
                        </div>
                    </div>

                    <!-- signup warning password don't macht -->
                    <span class="login-wrong-mail-password v-hidden" id="signup-wrong-mail-password">
                        Your password don't match. Try again.
                    </span>

                </div>

            </div>

            <!-- reset password button -->
            <button disabled type="submit" class="signup-btn btn-black f-s-w-21px-700">Continue</button>

        </form>

    </div>

</body>

</html>