<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="login-body">

    <!-- signup panel -->
    <div class="login-panel signup-panel background-color-white">

        <!-- signup back arrow -->
        <a class="signup-back-arrow" onclick="showTemplate('login_html')">
            <img src="assets/img/icon_arrow_left.png">
        </a>

        <!-- signup headline -->
        <div class="login-headline-area">
            <h1 class="login-headline f-s-61px">Sign up</h1>
            <div class="separator login-separator-lenght"></div>
        </div>

        <form class="signup-form-area" onsubmit="register(); return false;">

            <!-- -signup input area -->
            <div class="login-form-input-area">

                <!-- signup input username -->
                <div class="login-input-img-area">
                    <input required class="login-input" type="text" placeholder="Name" id="signup-username"
                    onkeyup="validateSignUp()"
                    onkeypress="validateSignUp()">

                    <div class="login-input-img">
                        <img src="assets/img/icon_person_gray.png" alt="icon person image">
                    </div>
                </div>

                <!-- signup input mail -->
                <div class="login-input-img-area">
                    <input required class="login-input" type="email" placeholder="Email" id="signup-mail"
                    onkeyup="validateSignUp()"
                    onkeypress="validateSignUp()">

                    <div class="login-input-img">
                        <img src="assets/img/icon_mail.png" alt="icon mail image">
                    </div>
                </div>

                <!-- signup input password -->
                <div class="login-input-img-area">
                    <input required class="login-input" type="password" placeholder="Password" id="signup-password"
                        onkeyup="updateInputState(this, 'signup-img-password'); validateSignUp()"
                        onkeypress="updateInputState(this, 'signup-img-password'); validateSignUp()">

                    <div class="login-input-img">
                        <img src="assets/img/icon_lock.png" id="signup-img-password" alt="icon lock image"
                            onclick="toggleReveal(this, 'signup-password')">
                    </div>
                </div>

                <div class="login-input-warning">

                    <!-- signup input confirm password -->
                    <div class="login-input-img-area">
                        <input required class="login-input" type="password" placeholder="Confirm password" id="signup-confirm-password"
                            onkeyup="updateInputState(this, 'signup-img-confirm-password'); validateSignUp()"
                            onkeypress="updateInputState(this, 'signup-img-confirm-password'); validateSignUp()">

                        <div class="login-input-img">
                            <img src="assets/img/icon_lock.png" id="signup-img-confirm-password" alt="icon lock image"
                                onclick="toggleReveal(this, 'signup-confirm-password')">
                        </div>
                    </div>

                    <!-- signup warning password don't macht -->
                    <span class="login-wrong-mail-password v-hidden" id="signup-wrong-mail-password">
                        Ups! Your password don't match
                    </span>

                </div>
            </div>

            <!-- signup requirement -->
            <div class="signup-requirement">

                <!-- signup i accept the -->
                <label class="checkbox-text-area">
                    <input type="checkbox" id="signup-checkbox" onclick="validateSignUp()">
                    <div></div>
                    <span>I accept the</span>
                </label>

                <a class="signup-privacy-policy" href="privacypolicy.html" target="_blank">Privacy
                    policy</a>
            </div>

            <!-- signup button -->
            <button disabled type="submit" class="signup-btn btn-black f-s-w-21px-700" id="signup-btn">
                Sign up
            </button>

        </form>

    </div>

</body>

</html>